extends ../layout

block content
  .materialize-box
    .material-header
      p Admin panel
    .material-body
        a.btn.btn-default(href='/admin/invite') Bjud in

        a.btn.btn-default(href='/admin/restaurants') Hantera restauranger

        a.btn.btn-default(href='/admin/export/orders') Exportera ordrar