extends ../layout

block content
  .col-sm-8.col-sm-offset-2
    .materialize-box
      .material-header
        p Glömt lösenord
      .material-body
        form(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            p Skriv din email nedanför så skickas en återsällningslänk till dig.
            label.control-label(for='email') Email
            input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
          .form-group
            button.btn.btn-primary(type='submit')
              i.fa.fa-key
              | Återställ lösenord
