extends ../layout

block content
  .materialize-box
    .material-header
      p Registrera
    .material-body
      form.form-horizontal(id='signup-form' action='/signup/restaurant', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-3.control-label(for='email') Email
          .col-sm-7
            input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
        .form-group
          label.col-sm-3.control-label(for='password') Lösenord
          .col-sm-7
            input.form-control(type='password', name='password', id='password', placeholder='Lösenord', required)
        .form-group
          label.col-sm-3.control-label(for='confirmPassword') Repetera lösenord
          .col-sm-7
            input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Repetera lösenord', required)
        .form-group
          label.col-sm-3.control-label(for='name') Namn
          .col-sm-7
            input.form-control(type='text', name='name', id='name', placeholder='Namn', required)
        .form-group
          label.col-sm-3.control-label(for='street') Gata
          .col-sm-7
            input.form-control(type='text', name='street', id='street', placeholder='Gata', required)
        .form-group
          label.col-sm-3.control-label(for='postalcode') Postnummer
          .col-sm-7
            input.form-control(type='text', name='postalcode', id='postalcode', placeholder='Postnummer', required)
        .form-group
          label.col-sm-3.control-label(for='City') Stad
          .col-sm-7
            input.form-control(type='text', name='city', id='city', placeholder='Stad', required)
        .form-group
          .col-sm-offset-3.col-sm-7
            button.btn.btn-success(type='submit')
              i.fa.fa-user-plus
              | Registrera
            