//footer
  .container.text-center
    p.pull-left © 2016 Company, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/sahat/hackathon-starter') GitHub Project
      li
        a(href='https://github.com/sahat/hackathon-starter/issues') Issues

footer.u-hideForInfiniteLoad(style='opacity: 1;')
  .wrapper
    .footer-content-container
      .footer-proper
        h1.footer-tagline
          | ”Äntligen kan du köpa god och vällagad mat som är 

          br
          | schysst mot plånboken & Miljön”
        .footer-primary-links
          a(href='/about')
            span Om
          //a(href='')
            span App
          a(href='/press')
            span Press
          a(href='/faq')
            span FAQ
          //a(target='_blank', href='')
            span Blog
        .footer-small-text
          p
            | Company is an independent company.
            br
            | ©2016
            | Company.co. All rights reserved.
        .footer-small-text.footer-secondary-links
          a.deemphasized(href='/terms') Villkor
          //a.deemphasized(href='/privacy') Privacy
          //a.deemphasized(href='/products/directory') Directory
          a.deemphasized(href='mailto:info@raddamaten.se?Subject=Feedback') Skicka feedback
        .footer-social-links
          //a.footer-twitter-link(target='_blank', href='') Twitter
          a.footer-instagram-link(target='_blank', href='http://www.instagram.com/raddamaten/') Instagram
          a.footer-facebook-link(target='_blank', href='https://www.facebook.com/R%C3%A4dda-maten-Sverige-AB-180076962399603/') Facebook
          //a.footer-pinterest-link(target='_blank', href='') Pinterest
          //a.footer-flipboard-link(target='_blank', href='') Flipboard
      //a.footer-right-side.AppPromo(href='')
        img.u-renderOnGPU(alt='Ut enim ad minima veniam, quis nostrum', height='60', src='https://res.cloudinary.com/hcu8jcnmr/image/upload/Icon-60_2x.png', width='60')
        .badge-footer
          span Now on Android
        span.AppPromo-headline
          | At vero eos et accusamus et iusto odio
          br
          | Et harum quidem rerum facilis est et expedita distinctio.
        span.AppPromo-ActionText Learn more
