//footer
  .container.text-center
    p.pull-left © 2016 Company, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/sahat/hackathon-starter') GitHub Project
      li
        a(href='https://github.com/sahat/hackathon-starter/issues') Issues

footer.u-hideForInfiniteLoad(style='opacity: 1;')
  .wrapper
    .footer-content-container
      .footer-proper
        h1.footer-tagline
          | ”Äntligen kan du köpa god och vällagad mat som är

          br
          | schysst mot plånboken & Miljön”
        .footer-primary-links
          a(href='/about')
            span Om
          //a(href='')
            span App
          a(href='/press')
            span Press
          a(href='/faq')
            span FAQ
          a(href='/partners')
            span Restauranger
          //a(target='_blank', href='')
            span Blog
        .footer-small-text
          p
            | Skapad av
            a(target='_blank' href='http://coptercaps.se/') Coptercaps
            br
            | ©2016
            | Rädda maten Sverige AB. All rights reserved.
        .footer-small-text.footer-secondary-links
          a.deemphasized(href='/terms') Villkor
          //a.deemphasized(href='/privacy') Privacy
          //a.deemphasized(href='/products/directory') Directory
          a.deemphasized(href='mailto:info@raddamaten.se?Subject=Feedback') Skicka feedback
        .footer-social-links
          //a.footer-twitter-link(target='_blank', href='') Twitter
          a.footer-instagram-link(target='_blank', href='http://www.instagram.com/raddamaten/') Instagram
          a.footer-facebook-link(target='_blank', href='https://www.facebook.com/R%C3%A4dda-maten-Sverige-AB-180076962399603/') Facebook
          //a.footer-pinterest-link(target='_blank', href='') Pinterest
          //a.footer-flipboard-link(target='_blank', href='') Flipboard
      .footer-right-side.js-newsletter-accept-success.js-newsletter-in-footer
        .hide-on-success.footer-newsletter-description
          .footer-tagline Få erbjudande direkt i mailen.
          p Anmäl här:
        .show-on-success.js-footer-newsletter-confirm-message
          .footer-tagline Bra, för att bekräfta din prenumeration följ instruktioner i mailet du fått.
          .submit-container
            a.no-margin.button.gray.js-newsletter-ok-btn(href="javascript:$('.js-newsletter-in-footer').hide();") OK
        .hide-on-success
          form#mailing-list-signup.js-mailing-list-signup-form.validated-form.ajax-form(accept-charset='UTF-8', method='post')
            input#csrf(type='hidden', name='_csrf', value=_csrf)
            input(name='utf8', type='hidden', value='✓')
            input(type='hidden', name='authenticity_token', value='33vsiRiPSG/VuQjZwzsRZktOqTr4xkAZPFuoupOgVwW52LE2anFDlsO24FJchQn+fK7DylLjYtOrd/axibG0VQ==')
            .field-container
              .inner-field-container
                input#email_newsletter.js-mailing-list-signup-input.small-input.js-validated-field(type='email', name='email_newsletter', value='', autocomplete='on', data-validates='email=true,minimum=2', placeholder='email address' required)
                .js-validation-status-icon.validation-status-icon
              label.error.border-box(for='email_newsletter') Skriv in en giltig email
            .submit-container(style='margin-top: 16px')
              input.no-margin.button.js-mailing-list-signup-button(type='submit', name='commit', value='Prenumerera' style='display: inline-block;')
              //a(style='float: right; display: inline-block;') Anmäl mobilnummer istället.





      //a.footer-right-side.AppPromo(href='')
        img.u-renderOnGPU(alt='Ut enim ad minima veniam, quis nostrum', height='60', src='https://res.cloudinary.com/hcu8jcnmr/image/upload/Icon-60_2x.png', width='60')
        .badge-footer
          span Now on Android
        span.AppPromo-headline
          | At vero eos et accusamus et iusto odio
          br
          | Et harum quidem rerum facilis est et expedita distinctio.
        span.AppPromo-ActionText Learn more
