extends layout

block content
    .description-page.learn-more
        article
            .about-title-bigger ”Äntligen kan du köpa god och vällagad mat som är schysst mot plånboken & Miljön”
            .about-title
               u Om Rädda Maten:
            .about-paragraph Genom Rädda Maten är ett miljöfokuserat företag som vill hjälpa och erbjuda såväl restauranger
                           | som konsumenter att minska matsvinnet! Rädda Matens tjänst bidrar till minskat svinn och
                           | därmed mindre koldioxidutsläpp som påverkar vår vackra planet. Genom vår insats skapar vi
                           | tillsammans hållbar utveckling och alla som vill får vara med att hjälpa till!

        article(style='background: white;')
            .about-title
               u För Konsumenter:
            .about-paragraph Vill du spara pengar och samtidigt tänka på miljön? Köp då din mat genom Rädda Maten!
               br
               br
               Genom Rädda Maten köper du mat som inte blivit såld under dagen hos restauranger runt om i Jönköping.
               |  Maten är precis lika vällagad och fräsch som att du skulle beställa den på restaurangen. Genom att använda
               | vår plattform får du god mat till ett grymt pris och samtidigt gör något bra för miljön! Allt du behöver göra
               | är att använda vår hemsida, hämta maten och sen äta den. Restaurangen förmedlar alltid en uthämtningstid för din
               | mat så du enkelt kan planera din dag. Dina kortuppgifter sparas så du enkelt kan använda plattformen utan att i
               | behöva fylla i dina kortuppgifter varje gång. Det har aldrig varit så enkelt att göra något bra för miljön, så
               | hjälp till att Rädda Maten.
            .about-paragraph Att rädda Maten är enkelt:
        .row.header-flow-container(style='margin-top: -120px;')
          .col-xs-4
            span.ion-icon.ion-android-cart(style='color: #fc459e;')
            h1.header-tagline Beställ
          .col-xs-4
            span.ion-icon.ion-android-walk(style='color: #fc459e;')
            h1.header-tagline Hämta
          .col-xs-4
            span.ion-icon.ion-android-restaurant(style='color: #fc459e;')
            h1.header-tagline Ät
        article
            .about-title
               u För Restauranger:
            .about-paragraph Rädda Maten ger er möjligheten att få nya kunder, tjäna pengar och minska matsvinnet.
                           | Genom Rädda Maten kan ni sälja överskottsmat som annars blivit svinn vilket är bra för miljön
                           | och för er verksamhet! Visa att ert företag är miljöfokuserat och nytänkande!
                           br
                           br
                           ul
                              li Ert varumärke kommer synas i uppmärksammade miljösammanhang, så era kunder kan se att ni är miljöfokuserade!
                              li Ni kommer få nya miljöfokuserade kunder som kommer till er restaurang!
                              li Ni kommer öka era intäkter på mat som annars kastats bort!
                           br
                           | Att samarbeta med Rädda Maten handlar om flexibilitet och enkelhet och är helt på era villkor.
                           | Ni bestämmer helt själva vad och hur mycket mat ni vill erbjuda till försäljning, det är med andra
                           | ord en 100% riskfri möjlighet att tjäna pengar på mat som annars blivit svinn. Rädda Maten tar enbart
                           | en provisionsandel på den mat ni säljer. Er vällagade goda mat ska ätas, inte slängas! Ni bestämmer hur
                           | mycket mat ni lägger ut samt till vilket rabatterat pris. Ni bestämmer också hur ofta ni vill lägga ut
                           | mat till försäljning. Ni har inga bindningstider eller månadsavgifter, bara fördelar samt att Ni får era
                           | utbetalningar månadsvis. Ni behöver inte ens fundera på lunchförpackningarna, Rädda Maten står för
                           | lunchboxar i 100% återvunnet material. Och förresten, det är helt gratis att samarbeta med Rädda Maten!
                           br
                           br
                           | Så går det till:
                           br
                           ol
                              li Lägg ut den mat som ni vill erbjuda Rädda Maten kunderna!
                              li Maten betalas på hemsidan och hämtas upp inom Er angivna tidsram på
                                 | Er restaurang i utbyte mot att ni kontrollerar kundens kvitto
                              li Ni får månadsvis utbetalningar på maten som Ni räddat!
                           br
