extends layout

block content
    .description-page.learn-more
        article
            .about-title Sed ut perspiciatis unde omnis iste natus
            .about-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        article(style='background: white;')
            //div(style='width: 192px; height: 192px; display:inline-block; background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_fill,h_192,w_192/lzggjnu1pbc0splegcrc.jpg);')                .about-title Sed ut perspiciatis unde omnis iste natus
            .about-title Sed ut perspiciatis unde omnis iste natus
            .about-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        article
            .about-title Sed ut perspiciatis unde omnis iste natus
            .about-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.