extends layout

block content
    .description-page.learn-more
        article
            .about-title Var med och minska ert matsvinn med Rädda Maten på vår lokala marknad i Jönköping!
            .about-paragraph Anslut er till Rädda Maten och tjäna pengar, få nya kunder och minska matsvinnet hos er! 
                             br 
                             br 
                             | Genom Rädda Maten kan ni sälja överskottsmat som annars blivit svinn. Bra för miljön och för er verksamhet! Ert företag kommer framstå som miljöfokuserat och nytänkande.

        article(style='background: white;')
            //div(style='width: 192px; height: 192px; display:inline-block; background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_fill,h_192,w_192/lzggjnu1pbc0splegcrc.jpg);')                .about-title Sed ut perspiciatis unde omnis iste natus
            .about-title Att samarbeta med Rädda maten handlar flexibilitet och enkelhet. Helt på era villkor! 
            .about-paragraph Ni bestämmer helt själva vad och hur mycket ni vill erbjuda till försäljning och vi finna nära er lokala marknad i Jönköping.
        article
            .about-title Att samarbeta med Rädda Maten är enkelt och helt gratis.
            .about-paragraph 
                ul
                    li Lägg ut den mat som inte blivit såld under dagen på räddamaten.se genom ert användarkonto
                    br
                    li Maten hämtas av hungriga, miljöfokuserade och nöjda kunder!
                    br
                    li Månadsvis får ni utbetalt för den mat som sålts. Ni tjänar pengar på mat som annars blivit svinn! 

        article(style='background: white;')
            //div(style='width: 192px; height: 192px; display:inline-block; background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_fill,h_192,w_192/lzggjnu1pbc0splegcrc.jpg);')                .about-title Sed ut perspiciatis unde omnis iste natus
            .about-title *Att samarbeta med Rädda maten handlar flexibilitet och enkelhet. Helt på era villkor! 
            .about-paragraph *Ni bestämmer helt själva vad och hur mycket ni vill erbjuda till försäljning och vi finna nära er lokala marknad i Jönköping.
        article
            .about-title Rädda Maten är för alla som vill äta vällagad mat till reducerade priser.
            .about-paragraph Vi är en plattform som hjälper restauranger att sälja vidare maten som under dagen inte blivit såld. På så vis sparar du pengar och gör en insats för miljön.