extends layout

block content
    .description-page.learn-more
        article(style='padding-bottom: 16px')
            .about-title 
               u För Restauranger:
            .about-paragraph Rädda Maten ger er möjligheten att få nya kunder, tjäna pengar och minska matsvinnet. 
                           | Genom Rädda Maten kan ni sälja överskottsmat som annars blivit svinn vilket är bra för miljön 
                           | och för er verksamhet! Visa att ert företag är miljöfokuserat och nytänkande!
                           br
                           br
                           ul
                              li Ert varumärke kommer synas i uppmärksammade miljösammanhang, så era kunder kan se att ni är miljöfokuserade!
                              li Ni kommer få nya miljöfokuserade kunder som kommer till er restaurang!
                              li Ni kommer öka era intäkter på avfall som annars kastats bort!
                           br
                           | Att samarbeta med Rädda Maten handlar om flexibilitet och enkelhet och är helt på era villkor. 
                           | Ni bestämmer helt själva vad och hur mycket mat ni vill erbjuda till försäljning, det är med andra 
                           | ord en 100% riskfri möjlighet att tjäna pengar på mat som annars blivit svinn. Rädda Maten tar enbart 
                           | en provisionsandel på den mat ni säljer. Er vällagade goda mat ska ätas, inte slängas! Ni bestämmer hur 
                           | mycket mat ni lägger ut samt till vilket rabatterat pris. Ni bestämmer också hur ofta ni vill lägga ut 
                           | mat till försäljning. Ni har inga bindningstider eller månadsavgifter, bara fördelar samt att Ni får era 
                           | utbetalningar månadsvis. Ni behöver inte ens fundera på lunchförpackningarna, Rädda Maten står för 
                           | lunchboxar i 100% återvunnet material. Och förresten, det är helt gratis att samarbeta med Rädda Maten!
                           br
                           br 
                           | Så går det till:
                           br
                           ol
                              li Lägg ut den mat som ni vill erbjuda Rädda Maten kunderna!
                              li Maten betalas på hemsidan och hämtas upp inom Er angivna tidsram på 
                                 | Er restaurang i utbyte mot att ni kontrollerar kundens kvitto
                              li Ni får månadsvis utbetalningar på maten som Ni räddat!
        article
            .contact-container.materialize-box
                //div(style='width: 230px;height: 230px;background-image: url("http://res.cloudinary.com/dwl3zfqeb/image/upload/v1479906752/DSC_0002_hvxito.jpg");')
                img.img-responsive(src='http://res.cloudinary.com/dwl3zfqeb/image/upload/v1479906752/DSC_0002_hvxito.jpg' style='width: 233px;height: 320px;')
                .contact-info
                    p.about-title Anslut dig enkelt 
                        a.contact-link(href='mailto:info@raddamaten.se') här!
                    p Anna-Lotta Svensson
                    a(href='mailto:info@raddamaten.se')
                        i.fa.fa-envelope-square

