extends layout

block content
    .faq-page.learn-more
        article
            .faq-title Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium?
            .faq-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        article(style='background: white;')
            .faq-title Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium?
            .faq-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        article
            .faq-title Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium?
            .faq-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        article(style='background: white;')
            .faq-title Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium?
            .faq-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        article
            .faq-title Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium?
            .faq-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam