extends layout

block content
    .faq-page.learn-more
        article
            .center
                .faq-title.faq-title-bigger Frågor & svar konsumenter
                .faq-paragraph Tänk på att komma inom den angiva tidsramen, annars riskerar du att missa din mat!
        article(style='background: white;')
            .faq-title Vad är Rädda Maten?
            .faq-paragraph Rädda Maten är en digital plattform som hjälper till att minska matsvinn inom mat verksamheter som restauranger, hotell, caféer och bagerier och kan därmed erbjuda konsumenter take-away mat till reducerade priser. Rädda matens hemsida är en mellanhand som förmedlar anslutna restaurangers erbjudanden till konsumenten.
        article
            .faq-title Är maten jag köper fräsch?
            .faq-paragraph Självklart, maten du köper är oftast fortfarande till och med tillgänglig till ordinarie pris. Men det är ibland svårt för restaurangerna att beräkna hur mycket mat som kommer säljas varje dag och därför blir det ibland överskott av mat.
        article(style='background: white;')
            .faq-title Vad kostar det?
            .faq-paragraph Det är helt gratis att använda Rädda Maten! Du betalar bara för maten du räddar.
        article
            .faq-title Hur fungerar det?
            .faq-paragraph Vid en viss tidpunkt på dagen lägger ansluta restauranger ut den mat dom vill sälja på Rädda Matens hemsida för rabatterade priser. Konsumenten köper då den önskade maten via Rädda Maten och får ett kvitto mailat till sig. Hämta upp din order inom den angivna tidsramen och visar upp kvittot på den restaurangen som Du köpt maten. Kom ihåg att alltid hämta din mat i tid! Kommer du efter angiven tidsram finns risken att du missar din måltid. Rädda Maten betalar då inte tillbaka dina pengar.
        article(style='background: white;')
            .faq-title Vad gör jag när jag kommer till restaurangen?
            .faq-paragraph Du visar upp ditt kvitto i utbyte får du din order.
        article
            .faq-title Vad händer om det blir problem eller jag inte är nöjd med maten när jag ska hämta den?
            .faq-paragraph Rädda Maten och de anslutna verksamheterna eftersträvar alltid att uppfylla konsumenternas nöjdhet. Skulle det hända något oväntat vid uthämtningen, tala med restaurangen om ni kan lösa det. Annars tveka inte på att höra av dig till Rädda Maten
               a(href='mailto:info@raddamaten.se?Subject=')  info@raddamaten.se
               div så hjälper vi er.
        article(style='background: white;')
            .faq-title Kan jag spara min betalningsinformation?
            .faq-paragraph Ja, det är enkelt att spara sitt kort efter att du första gången registrerat dina uppgifter. Känn dig trygg med detta, vi delar inte med betalinformation till någon. Rädda Maten använder Stripe som betaltjänst som följer de mest strikta säkerhetskraven i branschen.
        article
            .faq-title Gör jag något för miljön?
            .faq-paragraph Självklart! Genom att Rädda Mat minskar du matsvinn och bidrar direkt med mindre miljöpåverkan.
        article(style='background: white;')
            .faq-title Vem kontaktar jag om jag har problem på hemsidan?
            .faq-paragraph
               a(href='mailto:info@raddamaten.se?Subject=')  info@raddamaten.se
        article
            .faq-title Jag får inget kvitto när jag betalt min order?
            .faq-paragraph Om du inte får kvitton eller andra mejl från Rädda Maten kan de ha hamnat i skräpposten på ditt konto. Markera dem i så fall som ”Inte skräppost”. Då kan du vara säker på att framtida mejl från Rädda Maten hamnar i din vanliga inkorg. Om du efter att ha gjort det här ändå inte får några mejl från oss, kontakta Rädda Maten. Vi hjälper gärna till.

        article
            .center
                .faq-title.faq-title-bigger(style='') Frågor och svar Restauranger
            .faq-title Hur fungerar det?
            .faq-paragraph Vid en viss tidpunkt på dagen lägger ni ut den mat som ni vill sälja på Rädda Matens hemsida. Ni fyller i vilka produkter, vilket pris och antalet ordrar ni vill sälja. Samt inom vilken tidsram ni önskar att kunden kommer in till er. Kunden får sin order i utbyte mot uppvisande av kvitto. Skulle en kund komma efter angiven tidsram har ni inga skyldigheter att tillgodose kundens order.
        article(style='background: white;')
            .faq-title Låser jag upp mig när jag ansluter mig till rädda maten?
            .faq-paragraph Nej, Ni har inga bindningstider eller månadsavgifter, bara fördelar och ni får era utbetalningar månadsvis. Ni bestämmer helt själva vad och hur mycket mat ni vill erbjuda till försäljning, det är med andra ord en 100% riskfri möjlighet att tjäna pengar på mat som annars blivit svinn.
        article
            .faq-title Vad behöver jag göra?
            .faq-paragraph Anslut din verksamhet till Rädda Maten, lägg ut erbjudande och börja tjäna pengar!
        article(style='background: white;')
            .faq-title Hur gör jag för att ansluta mig till Rädda maten?
            .faq-paragraph Maila till info@raddamaten.se
        article
            .faq-title Hur får jag betalt?
            .faq-paragraph Ni får månadsvis utbetalningar på maten som Ni räddat.
        article(style='background: white;')
            .faq-title Frågor och funderingar?
            .faq-paragraph Kontakta Rädda Maten
               a(href='mailto:info@raddamaten.se?Subject=')  info@raddamaten.se
