extends layout

block content
    include headers/header
    .div(id='baseurl' data-internalbaseurl="/products/")

    .SignupMessage.SignupMessage--sliding.animated.js-signupMessage.SignupMessage--show
        a#signup-close-btn.close-button-base.close-button-light.close-button-thin 
            .fa.fa-times
        span.hide-on-success-step1
            | Få information via sms.
        span.show-on-success-step1.hide-on-success-step2.hide
            | Bekräfta med koden som skickats till dig.
        span.show-on-success-step2.hide
            | Registrering lyckades!
        .SignupMessage-Buttons.hide-on-success-step1
            input#crf(type='hidden', name='_csrf', value=_csrf)
            input#sms-newsletter.js-mailing-list-signup-input.small-input.js-validated-field(type='tel', name='phone_number', value='', autocomplete='on', placeholder='07X-XXX XX XX' required)
            button#sms-signup(style='text-decoration: none;text-align: center;margin: 16px;background: none;border: none;' disabled='true')
                span Registrera
        .SignupMessage-Buttons.show-on-success-step1.hide-on-success-step2.hide
            //- input#crf(type='hidden', name='_csrf', value=_csrf)
            input#sms-code.js-mailing-list-signup-input.small-input.js-validated-field(type='text', name='code', value='', autocomplete='on', placeholder='XXXX' required)
            button#sms-code-signup(style='text-decoration: none;text-align: center;margin: 16px;background: none;border: none;')
                span Fortsätt

    div
        div(id='productsframe')
            include products/products

    hr
    if (products.length > 0)
        .text-center
            a.btn.pink-loadmore(id='load_more', role='button' data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Laddar") Ladda fler
    else
        .document
            h2 Rädda Maten önskar God Jul & Gott nytt år. Vi vill tacka för all feedback och jobbar just nu för fullt med förbättringar. Snart kommer du kunna ta del av fler erbjudanden!
