extends layout

block content
    .div(id='baseurl' data-internalbaseurl="/products/")

    div
        div(id='productsframe')
            include products/products

    hr
    .text-center
        a.btn.btn-default(id='load_more', role='button' data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading") View older  products