extends layout

block content
    include headers/header
    .div(id='baseurl' data-internalbaseurl="/products/")

    div
        div(id='productsframe')
            include products/products

    hr
    if (products.length > 0)
        .text-center
            a.btn.pink-loadmore(id='load_more', role='button' data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Laddar") Ladda fler
    else     
        .document
            h2 Hittade inga produkter