extends layout

block content
    .faq-title.faq-title-bigger(style='margin-bottom: 36px; text-align: center') Anslutna restauranger
    div(id='partnersframe')
        for restaurant in restaurants
            div.partners-container.col-xs-6.col-sm-4.col-md-3
                a(href=restaurant.website target='_blank')
                    div(class='product-img' style='background-image: url(' + restaurant.pictureURL + ')')
                    .partners-info
                        p(style='word-wrap: break-word') 
                            strong Gata: 
                            span #{restaurant.street}
                        p(style='word-wrap: break-word') 
                            strong Postnummer: 
                            span #{restaurant.postalCode}
                        p(style='word-wrap: break-word') 
                            strong Stad: 
                            span #{restaurant.city}
       
