extends layout

block content
    article
        .wrapper
        .about-title Press
          .col-container
            .col-md-8.col-md-offset-2.exerpt
              .feature-image-container
                a(target='_blank', href='http://www.jnytt.se/article/luncher-saljs-till-rabatterat-pris/')
                  img.feature-image(src='http://res.cloudinary.com/dwl3zfqeb/image/upload/v1479292695/jnytt_ecu40b.png', alt='Presstechcrunch')
              .exerpt-title.h32
                a(target='_blank', href='http://www.jnytt.se/article/luncher-saljs-till-rabatterat-pris/')
                  | Luncher säljs till rabatterat pris
              .exerpt-paragraph
                | Att så mycket mat dagligen slängs är ett stort miljöproblem och slöseri med resurser.
                | Nu lanseras i Jönköping en onlinetjänst där överblivna portioner från flera restauranger säljs till rabatterat pris.
            .col-md-8.col-md-offset-2.exerpt
              .feature-image-container
                a(target='_blank', href='http://www.expressen.se/gt/anna-lotta-saljer-mat-som-skulle-slangas/')
                  img.feature-image(src='http://res.cloudinary.com/dwl3zfqeb/image/upload/v1479294953/gt_logotyp_rrawjz.png', alt='Presstechcrunch')
              .exerpt-title.h32
                a(target='_blank', href='http://www.expressen.se/gt/anna-lotta-saljer-mat-som-skulle-slangas/')
                  | Anna-Lotta säljer mat som skulle slängas
              .exerpt-paragraph
                  | Att det slängs mat dagligen är inget nytt. Men Anna-Lotta Svensson jobbar för förändring.
                  | Med hjälp av sitt företag vill hon minska matsvinnet – genom att sälja mat som annars skulle ha hamnat i papperskorgen.
                  | – Det slängs för mycket, jag vill förtydliga att det inte är okej, säger hon.
            .col-md-8.col-md-offset-2.exerpt
              .feature-image-container
                a(target='_blank', href='https://www.facebook.com/jkpgnaringsliv/posts/992966757516388')
                  img.feature-image(src='http://res.cloudinary.com/dwl3zfqeb/image/upload/v1479296149/jo%CC%88nko%CC%88pings-kommun-logga-svart_x8dkgl.png', alt='Presstechcrunch')
              .exerpt-title.h32
                a(target='_blank', href='https://www.facebook.com/jkpgnaringsliv/posts/992966757516388')
                  | Jönköpings kommuns näringslivsavdelning
              .exerpt-paragraph                  
                  | Nyföretagacentrum stödjer många entreprenörers affärsidéer. 
                  | Här är ett exempel på en affärside som har fått stöd och hjälp.
            .col-md-8.col-md-offset-2.exerpt
              .feature-image-container
                a(target='_blank', href='http://www.jp.se/article/hon-ska-radda-maten/')
                  img.feature-image(src='http://res.cloudinary.com/dwl3zfqeb/image/upload/v1479296718/jp_og43d7.png', alt='Presstechcrunch')
              .exerpt-title.h32
                a(target='_blank', href='http://www.jp.se/article/hon-ska-radda-maten/')
                  | Hon ska rädda maten
              .exerpt-paragraph                  
                  | Anna-Lotta Svensson är en ung entreprenör som vill motverka matsvinnet i Jönköping. 
                  | Nu ska hon rädda maten genom att erbjuda kunder att köpa överblivna matportioner till rabatterat pris. 