/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/YZaO6llzOP57DpTBv2GnyFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v11/Li18TEFObx_yGdzKDoI_cgsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v11/CcKI4k9un7TZVWzRVT-T8wzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.main-container {
    min-height: 50em;
}

.white-box {
    background: white;
    min-height: 50em;
}

.materialize-box {
    background: white;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.center-text {
    text-align: center;
}

.img-centercrop {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.rounded-img {
    border-radius: 50em;
}

.contact-container {
    margin-left: 20em;
    margin-right: 20em;
    display: flex;
    height: 230px;
}

.contact-info {
    margin-left: 4em;
    font-size: 1.3em;
}

.contact-container p {
    font-weight: 300;
}

.contact-link {
    color: #525252;
}

.product-img {
    width: 100%;
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.product-img-small {
    min-width: 150px;
    width: 150px;
    height: 70px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.right-side {
    font: 13px/23px "Raleway", Arial, sans-serif;
    float: none;
    display: table-cell;
    min-height: 100px;
    width: 300px;
    padding: 0;
    top: 8px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.order-list {
    width: 100%;
    overflow: auto;
    background: white;
}

@media only screen and (max-width:1200px) {
    .contact-container {
        margin-left: 12em;
        margin-right: 12em;
    }
}

@media only screen and (max-width:990px) {
    .contact-container {
        margin-left: 5em;
        margin-right: 5em;
    }
}

@media only screen and (max-width:737px) {
    .contact-container {
        margin-left: 3em;
        margin-right: 3em;
        height: 160px;
    }

    .contact-container img {
        width: 200px !important;
        height: 287px !important;
    }

    .contact-info .about-title {
        margin-left: 1em;
        font-size: 1.5em;
        margin: 22px auto 12px;
    }

    .contact-info {
        margin-left: 1em;
        font-size: 1em;
    }
}

@media only screen and (max-width:550px) {
    .contact-container {
        margin-left: 0;
        margin-right: 0;
        height: 160px;
    }

    .contact-info .about-title {
        margin-left: 1em;
        font-size: 1.5em;
        margin: 22px auto 12px;
        line-height: 100%;
    }

    .contact-info {
        margin-left: 1em;
        font-size: 1em;
    }
}

@media only screen and (max-width:430px) {
    .contact-container {
        margin-left: 0;
        margin-right: 0;
        height: 130px;
    }

    .contact-info .about-title {
        font-size: 1.3em;
        margin: 32px auto 12px;
        line-height: 100%;
    }

    .contact-info {
        margin-left: -40px !important;
        margin-left: 0.3em;
        font-size: 0.8em;
    }

    .contact-container img {
        margin-left: -40px;
        margin-top: -20px;
    }
}



@media only screen and (max-width:767px) {

    .right-side {
        display: block;
        float: inherit;
        border: 0px;
        box-shadow: none;
    }

    .xs-clear-padding {
        padding-left:0px;
        padding-right:0px;
    }

    .order-list {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 2;
    }

    .order-list-header-count {
        display: flex !important;
    }

    .orders-xs-collapse {
        height: 0px;
        padding: 0px !important;
    }

    .checkout-xs-collapse {
        height: 0px;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
    }

}

@media only screen and (max-width: 540px) and (min-width: 330px) {
    .product-img {
        height: 80px !important;
    }
    .product-button {
        padding: 9px 5px !important;
    }
    .product-container, .partners-container {
        width: 150px !important;
    }
    .product-price {
        width: 60px !important;
        height: 30px !important;
        font-size: 10px !important;
    }
    .product-quantity {
        width: 60px !important;
        height: 20px !important; 
        font-size: 9px !important;
        top: 30px !important;
    }
}

.toggle-xs-cart {
    top: 50px;
}

#productsframe, #partnersframe {
    /*
    -moz-column-width: 20em;
    -webkit-column-width: 20em;
    -moz-column-gap: .5em;
    -webkit-column-gap: .5em;
    text-align: center;
    */
    margin: 0 auto;
}
/* clear fix */
#productsframe:after, #partnersframe:after {
  content: '';
  display: block;
  clear: both;
}

.restaurant-container {
    margin-bottom: 20px;
    padding: 0px;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.restaurant-conent {
    padding: 16px;
}

.product-container, .partners-container {
    font: 13px/23px "Raleway", Arial, sans-serif;
    position: relative;
    text-align: center;
    margin:  .5em;
    padding:  0;
    width: 240px;
    background: #FFF;
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.product-container-horizontal {
    font: 13px/23px "Raleway", Arial, sans-serif;
    position: relative;
    margin:  .5em;
    padding:  0;
    height: 70px;
    display: flex;
    background: #FFF;
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.product-container-horizontal div {
    display: inline-block;
}

.product-info-horizontal {
    overflow: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.product-info h2 { /* Title */
    padding: 5px;
}

.product-info p { /* Description */
    margin: 16px !important;
}

.product-greyed {
  position: absolute;
  top: 0px;
  right: 0;

  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.56);
  padding: 10px 10px;
  font-size: 16px;
}

.product-quantity {
  position: absolute;
  top: 40px;
  right: 0;

  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
  width: 100px;
  height: 20px;
  background: rgba(51, 152, 225, 0.86);
  padding: 10px 10px;
  font-size: 11px;
}

.product-quantity-horizontal {
  position: absolute;
  top: 30px;
  left: 0;

  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
  width: 70px;
  height: 20px;
  background: rgba(51, 152, 225, 0.86);
  font-size: 9px;
}

.product-price {
  position: absolute;
  top: 0px;
  right: 0;

  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
  width: 100px;
  height: 40px;
  background: rgba(47, 218, 184, 0.86);
  padding: 10px 10px;
  font-size: 16px;
}

.product-price-horizontal {
  position: absolute;
  top: 0px;
  left: 0;

  display: flex !important;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
  width: 70px;
  height: 30px;
  background: rgba(47, 218, 184, 0.86);
  font-size: 12px;
}

.product-button {
  text-decoration: none;
  background: #2fdab8;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 9px 54px;
  border-radius: 5px;
  border: none;
  margin: 16px;
  width: 75%;
}

.product-button:hover {
    background: #96f8e3
}

.desctiption-horizontal {
    font: 13px/23px "Raleway", Arial, sans-serif;
    position: relative;
    padding: 16px;
}

.desctiption-horizontal-hidden {
    position: absolute;
    visibility: hidden;
}

.add-product-btn {
  text-decoration: none;
  background: #2fdab8;
  color: white;
  font-size: 11px;
  font-weight: 500;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  width: 20px;
  padding-top: 6px;
}

.add-product-btn:hover {
    background: #96f8e3
}

.info-product-btn {
  text-decoration: none;
  background: #00B9D7;
  color: white;
  font-size: 13px;
  font-weight: 500;
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 20px;
  padding: 9px;
  padding-top: 6px;
  padding-left: 8px;
}

.info-product-btn:hover {
    background: #b3f5ff;
}

.orders {
    padding: 16px;
    max-height: 700px;
    overflow: auto;
}

.order-list a.btn.btn-default {
    margin: 16px;
    position: relative;
    float: right;
}

.material-header {
    background: #2fdab8;
    width: 100%;
    height: 60px;
    padding: 16px;
    color: #FFF;
    font-size: 16px;
    margin: 0, auto;
}

.material-header p {
    display: inline-block;
    top: 50%;
    position: relative;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.material-header a {
    display: inline-block;
    float: right;
    color: #FFF;
    top: 50%;
    position: relative;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.material-header a:link {
    text-decoration: none;
}

.material-header a:hover {
    text-decoration: none;
}

.material-header a::visited {
    text-decoration: none;
}

.material-header a::active {
    text-decoration: none;
}


.material-body {
    padding: 16px;
}

.order-list-header {
    background: #2fdab8;
    width: 100%;
    height: 60px;
    padding: 16px;
    color: #FFF;
    font-size: 16px;
    margin: 0, auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-list-header-count {
    position: absolute;
    right: 0;
    background: rgba(71, 96, 85, 0.49);
    width: 20px;
    height: 20px;
    margin-right: 20px;
    font-size: 9px;
    border-radius: 7px;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.order-list-header p {
    top: 50%;
    position: relative;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.order-list .delete-product-btn {
    float: right;
    color: red
}

.order-list .delete-product-btn:hover {
    text-decoration: none;
}

.partners-info h2 { /* Title */
    padding: 5px;
}

.partners-info p { /* Description */
    margin-top: 16px;
    margin-bottom: 16px;
}

.partners-container a {
    color: black;
    text-decoration: none;
}

.partners-container a:hover {
    text-decoration: none;
}
