body {
    background: #f2f2f2;
    margin-bottom: 0px;
}
@media only screen and (max-width: 540px) {
    body {
        overflow-x: hidden;
    }
}
footer {
    position: relative;
    height: 100%;
    line-height: 20px;
}
.btn.btn-primary {
    background: #00B9D7;
    border-color: #96f8e3;
}
.btn.btn-danger {
    background: #fc459e;
    border-color: #feb4d8;
}
.btn.btn-success {
    background: #2fdab8;;
    border-color: #96f8e3;
}
a.pink-loadmore {
    min-width: 17.5rem;
    padding: 1.6rem 1.6rem 3.8rem 1.6rem;
    text-align: center;
    color: #fc459e;
    border: .2rem solid #fc459e;
    border-radius: .6rem .6rem .6rem .6rem;
    height: 5.2rem;
    font-size: 1.6rem;
    box-shadow: none;
}
a.pink-loadmore:hover {
    background: #fc459e;
    color: #FFF !important;
    text-decoration: none;
}

a:hover {
    color: #595959 !important;
}
a:active {
    color: #595959 !important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #595959 !important;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #595959 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #595959 !important;
}
::selection {
    background: #96f8e3;
}
.wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1203px;
    min-width: 310px;
    padding: 0 42px;
    position: relative;
    width: 100%
}
@media only screen and (min-width: 1450px) {
    .wrapper {
        max-width: 1403px
    }
}
@media only screen and (max-width: 985px) {
    .wrapper {
        padding: 0 20px
    }
}
@media only screen and (max-width: 540px) {
    .wrapper {
        padding: 0 15px
    }
}
.fancybox-inner>.wrapper {
    padding: 0;
    max-width: 1215px
}
.wrapper.about {
    min-width: inherit
}
@media only screen and (max-width: 540px) {
    .wrapper.about {
        padding-left: 0;
        padding-right: 0
    }
}
.wrapper.yield {
    min-height: calc(80% - 173px)
}

footer {
    background-color: white;
    padding: 78px 0 72px;
    margin-top: 20px;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

.footer-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row;
    flex-flow: row
}
@media only screen and (max-width: 680px) {
    .footer-content-container {
        -ms-flex-flow: column-reverse;
        flex-flow: column-reverse
    }
}

.footer-proper {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-right: 48px
}
@media only screen and (max-width: 680px) {
    .footer-proper {
        padding-right: 0
    }
}

h1.footer-tagline, .footer-tagline {
    color: #595959;
    font-size: 18px;
    -webkit-transition-property: color, font-size;
    transition-property: color, font-size;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    font-weight: 300;
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.4;
    font-weight: 500;
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0;
    margin-bottom: 12px
}
@media only screen and (max-width: 540px) {
    h1.footer-tagline, .footer-tagline {
        font-size: 16px
    }
}


.js-mailing-list-signup-input {
    background-color: #ebebeb;
    border: none;
    border-radius: 0;
    color: #525252;
    box-sizing: border-box;
    display: block;
    font-size: 20px;
    line-height: 1.3em;
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 20px 0;
    outline: none !important;
    padding: 14px 14px 12px;
    width: 100%;
    -webkit-transition: border-bottom 0.2s ease-in-out;
    transition: border-bottom 0.2s ease-in-out
}
.inline-field-and-button select,
.inline-field-and-button input[type=email],
.inline-field-and-button input[type=text],
.inline-field-and-button textarea,
.inline-field-and-button input[type=password] {
    margin: 0
}

input.error,
input.error:focus,
.is-invalid input,
.is-invalid input[type=email]:focus,
.is-invalid input[type=text]:focus {
    background-color: #ffedeb;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}

.js-mailing-list-signup-button, .js-newsletter-ok-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #2fdab8;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0 8px 0 0;
    padding: 13px 20px 15px;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-transition-property: background-color, padding, font-size;
    transition-property: background-color, padding, font-size;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

label.error,
.form-contained label.error {
    background-color: #ff5e4d;
    color: white;
    display: none;
    font-size: 16px;
    margin: 0;
    padding: 6px 14px 8px;
    position: relative;
    text-align: center
}
label.error.centered,
.form-contained label.error.centered {
    text-align: center
}
@media only screen and (max-width: 540px) {
    label.error,
    .form-contained label.error {
        font-size: 14px
    }
}
.form-contained label.error {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}
.comment-input label.error {
    padding-top: 4px
}
.inner-field-container {
    position: relative
}

.hide-on-success {
    display: block
}
.success .hide-on-success {
    display: none
}
.show-on-success {
    display: none;
}
.success .show-on-success {
    display: inherit !important
}
.force-hide {
    display: none !important 
}

a.button span,
.button span,
input[type=submit] span {
    display: block
}
a.button.is-pending,
.button.is-pending,
input[type=submit].is-pending {
    color: transparent
}
a.button.is-pending span,
.button.is-pending span,
input[type=submit].is-pending span {
    visibility: hidden
}
a.button.is-pending:after,
.button.is-pending:after,
input[type=submit].is-pending:after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpENUE3QkY5NzEwNDYxMUUzOERDN0ZBNzI2OEEwQUI3OCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpENUE3QkY5ODEwNDYxMUUzOERDN0ZBNzI2OEEwQUI3OCI%2BIDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjU5MkJDMTAyMTAzQjExRTM4REM3RkE3MjY4QTBBQjc4IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkQ1QTdCRjk2MTA0NjExRTM4REM3RkE3MjY4QTBBQjc4Ii8%2BIDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY%2BIDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8%2BT60wdQAAAWhJREFUeNrsVztuwzAMjdrZYxDvnbJm9AV6hB6isy%2BRxVlzlcL36JALtHVUIKOzKE8ACwgsFYv%2B1B1M4MGWTInPFD%2B2cc6t5pSH1cyyEPifBIwxIiA5UAI1YAFHsDTnn%2BV31v8WnwUcgk4GVEDruqUl3SzJVhcBjLfAyenFr9kOIkDGG9dfmpCEigC5XXrzC7AHCmBDKGjuEvFE1odAJWz2BqxjEe2fkQ6XSkUAyIWA8xs%2FdqWV1xFItLRnMoFScPs6NbfJE%2Fw4SslWrBA9s%2FERedykEiDdY8ee8cgELGNfaCscBWYoVrJlIu2YT%2Frq9qkksMHlgzvnL3vBF5XoH7GaZvTNxk9a6%2FCY9%2BIrGbZ0nxwDNTu%2FfV83YK0%2FZqOtA4PS8A6Z6QvRKAT6luKxCaQ2IzMJAUU7PgMvkxBQfJCcUzyh6QVhPr%2FjsgMOwHX0cpXyTRjo5pSiddAvBh2BWX7NFgJzE7gJMAC9CLbsZugDygAAAABJRU5ErkJggg%3D%3D);
    background-image: -webkit-image-set(url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpENUE3QkY5NzEwNDYxMUUzOERDN0ZBNzI2OEEwQUI3OCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpENUE3QkY5ODEwNDYxMUUzOERDN0ZBNzI2OEEwQUI3OCI%2BIDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjU5MkJDMTAyMTAzQjExRTM4REM3RkE3MjY4QTBBQjc4IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkQ1QTdCRjk2MTA0NjExRTM4REM3RkE3MjY4QTBBQjc4Ii8%2BIDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY%2BIDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8%2BT60wdQAAAWhJREFUeNrsVztuwzAMjdrZYxDvnbJm9AV6hB6isy%2BRxVlzlcL36JALtHVUIKOzKE8ACwgsFYv%2B1B1M4MGWTInPFD%2B2cc6t5pSH1cyyEPifBIwxIiA5UAI1YAFHsDTnn%2BV31v8WnwUcgk4GVEDruqUl3SzJVhcBjLfAyenFr9kOIkDGG9dfmpCEigC5XXrzC7AHCmBDKGjuEvFE1odAJWz2BqxjEe2fkQ6XSkUAyIWA8xs%2FdqWV1xFItLRnMoFScPs6NbfJE%2Fw4SslWrBA9s%2FERedykEiDdY8ee8cgELGNfaCscBWYoVrJlIu2YT%2Frq9qkksMHlgzvnL3vBF5XoH7GaZvTNxk9a6%2FCY9%2BIrGbZ0nxwDNTu%2FfV83YK0%2FZqOtA4PS8A6Z6QvRKAT6luKxCaQ2IzMJAUU7PgMvkxBQfJCcUzyh6QVhPr%2FjsgMOwHX0cpXyTRjo5pSiddAvBh2BWX7NFgJzE7gJMAC9CLbsZugDygAAAABJRU5ErkJggg%3D%3D) 1x, url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpENUE3QkY5QjEwNDYxMUUzOERDN0ZBNzI2OEEwQUI3OCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpENUE3QkY5QzEwNDYxMUUzOERDN0ZBNzI2OEEwQUI3OCI%2BIDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkQ1QTdCRjk5MTA0NjExRTM4REM3RkE3MjY4QTBBQjc4IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkQ1QTdCRjlBMTA0NjExRTM4REM3RkE3MjY4QTBBQjc4Ii8%2BIDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY%2BIDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8%2BSk0mOQAAAv1JREFUeNrsWzFrWzEQtkygpZnsH5HFhBSSJYES%2F4BOnuNO6W%2FI0LlzAh1TKDRbVntJFxNo8FJDS%2BnyuvUHxGRIDX0F9RNcluBaJ%2Bmk9x7Wwcczkd7p9CHdnU4vSmvdWmdpt9ZcMgGZgExAJiATkAnIBKyvbHA7KqW8B0G22cHjkLANbAFdYJO63AO3QAF8B64NMOY8YEx%2BRw48DGgDA2AElNpdSnrX6Gj7EMCalzQB6KuAIVBoOSlIp6o1AejXAz7reGJ092pJAPocAwsdX8wYx7UhgJb8mU4vZ6u2RBICaPIXujq5%2BB8J3HmF5gGnwFGFYfyIbPAWxXVwj%2FMA2ofnjuPNgDEwpZj%2FEOc7lBvsAy%2BBXUe9r2Hf%2B2R5AHl7F4d3Cew4hLAdesfFMfaS%2BADa99xQ9wvoB2RzfdLBDZEqBQFDpkE3QDd0kxsdpIsjw6gEUHpbMCf%2FTMrTGV1MEoqHtDkWAQPmsu9Ku3taCZztMIhJwIhhQD9WzCOfYJNRFALMkZZxqruMHfgZ0aEkW8UToUNG%2FeBtguTHNsYG2SpeEbIpnSEZ%2BRZ79jTGLNBWLwK2Le3jhCnwONBWLwK2LO3ThARMA231IsAW2oqEBBSBtnoRsGlpnyckYB5oa%2BPL4ndAuaK9jEHAvaW9k2r2iAQmM5us6DKJQcCtlOMRkhNgseTvC2oTJ8DmePZTzh6r4CseB8AnWvIl%2FT6gNtmCCHBqSUG%2FVOUQqEahYtcEry3tuy5VH2mfQH7BWVwJ%2BGvp86Zx8aRJx%2BEY83LNAz4w%2BnyMURCpywqopCQWdV51L4rWkYBkZfFaEkDKo16MpCSgDldjd74x3EaAuBNc8q7Etfgf4Ap43pgt8MgfSF2P%2F5YkoakfSFw1xgcsGdD4hHfA0wC7zYnuiYRP4M5LrCJE9%2FN7wE2TjgKiJTGQ8AOPF8Ar4KeHikmMiBAtClj0un4oWYkTFPMBFmNWfSpbUg3vxKmSI%2BQDlM7%2FNdbKBGQCMgGZgExAJiATkAlYS%2FknwACXxgUJR1elbQAAAABJRU5ErkJggg%3D%3D) 2x);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    content: "";
    display: block;
    height: 48px;
    width: 48px;
    margin: -24px;
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}
a.button:hover,
.button:hover,
input[type=submit]:hover {
    background-color: #39ac95
}
a.button:focus,
.button:focus,
input[type=submit]:focus {
    outline: none
}
a.button:active,
.button:active,
input[type=submit]:active {
    background-color: #427067;
    outline: none
}
@media only screen and (max-width: 540px) {
    a.button,
    .button,
    textarea,
    input[type=submit],
    input[type=email],
    input[type=text],
    input[type=password],
    input,
    select {
        font-size: 16px
    }
}

.footer-newsletter-description {
    color: #595959;
    font-size: 18px;
    -webkit-transition-property: color, font-size;
    transition-property: color, font-size;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    font-weight: 300;
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: subpixel-antialiased;
    margin-bottom: 24px
}
@media only screen and (max-width: 540px) {
    .footer-newsletter-description {
        font-size: 16px
    }
}

.field-container {
    position: relative
}
.field-container input,
.field-container textarea {
    margin-bottom: 0
}

.field-container {
    position: relative
}
.field-container input,
.field-container textarea {
    margin-bottom: 0
}

.footer-primary-links {
    margin: 20px 0;
    display: inline-block
}
@media only screen and (max-width: 985px) {
    body:not(.logged-in) .footer-primary-links a {
        display: block
    }
}
@media only screen and (max-width: 540px) {
    .footer-primary-links a {
        display: block
    }
}
.footer-primary-links a {
    color: #595959;
    font-size: 18px;
    -webkit-transition-property: color, font-size;
    transition-property: color, font-size;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    font-weight: 300;
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: subpixel-antialiased;
    margin-right: 20px;
    text-decoration: none;
    line-height: 1.5
}
@media only screen and (max-width: 540px) {
    .footer-primary-links a {
        font-size: 16px
    }
}
.footer-primary-links a:hover span {
    color: #141414;
    background-size: 2px 2px;
    background-image: -webkit-linear-gradient(top, transparent 50%, #141414 50%);
    background-image: linear-gradient(to bottom, transparent 50%, #141414 50%);
    background-repeat: repeat-x;
    background-position: center bottom;
    text-decoration: none
}
.footer-primary-links a.active {
    color: #141414
}
.footer-primary-links a.active span {
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}
.footer-primary-links a.active:hover span {
    color: #141414;
    cursor: default;
    background-image: none
}

.footer-small-text {
    color: #a6a6a6;
    font-size: 15px;
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}
.footer-small-text p {
    margin: 0;
    max-width: 600px
}
.footer-small-text p.strong {
    color: #878787
}
.footer-small-text a {
    color: #a6a6a6;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    text-decoration: none
}
.footer-small-text a:hover {
    color: #595959
}

.footer-secondary-links {
    margin: 20px 0
}
.footer-secondary-links a {
    padding-right: 20px
}

.footer-small-text {
    color: #a6a6a6;
    font-size: 15px;
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}
.footer-small-text p {
    margin: 0;
    max-width: 600px
}
.footer-small-text p.strong {
    color: #878787
}
.footer-small-text a {
    color: #a6a6a6;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    text-decoration: none
}
.footer-small-text a:hover {
    color: #595959
}

.footer-social-links a {
    display: inline-block;
    width: 32px;
    height: 48px;
    font-size: 0;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    opacity: .3
}
.footer-social-links a:hover {
    opacity: .7
}
.footer-social-links a.footer-facebook-link {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALNJREFUeNpi%2FP%2F%2FP8NAAiaGAQajDhh1ANEOYGRkRMcCQDwfiM8D8X8gvg%2FE%2B0l1ACOx2RBkKRJQAOLzQCyArg5oHiM9oqAem%2BXkABYy9QWg8RcA8UNyDCI3CpA1XQBiQ6QooHsu%2BDBiyoH90KBHD2MHJPH%2FAx0CFwbaAR9omQ0XAvFBpHIABh5A5cgKAXC2IQaja0PC%2B8kxD4ZHa8NRB4w6YMAdwDjaMRl1wKgDBtoBAAEGAJwhbiKJBO64AAAAAElFTkSuQmCC);
    background-image: -webkit-image-set(url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALNJREFUeNpi%2FP%2F%2FP8NAAiaGAQajDhh1ANEOYGRkRMcCQDwfiM8D8X8gvg%2FE%2B0l1ACOx2RBkKRJQAOLzQCyArg5oHiM9oqAem%2BXkABYy9QWg8RcA8UNyDCI3CpA1XQBiQ6QooHsu%2BDBiyoH90KBHD2MHJPH%2FAx0CFwbaAR9omQ0XAvFBpHIABh5A5cgKAXC2IQaja0PC%2B8kxD4ZHa8NRB4w6YMAdwDjaMRl1wKgDBtoBAAEGAJwhbiKJBO64AAAAAElFTkSuQmCC) 1x, url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARdJREFUeNrs29ENgkAMgGFq3ENHYAMdQTdwFDdwBF3BCXAEnADdgA3OXoIvRs%2FDHAj0b9LEh5PQz5LekSjOucxyzDLjAQAAAAAAAAAAAACA1ZinvqCItFmea641F81nH7Xm9blAzyr7LgEk9WEoEsAXe2iKD4ben4yqAyJip3kcyiPQdwf4X7xoc72uO6BvgEpzOSSAPqfApm3xo5wCgVhFrPEToJwqQP6l8K3mxepG6PSP4ocEcGYrDAAAAEwFwJ%2Fe3JsMHXyKD9%2BprHfADQDjAHfrAKV1gJoO6Dr8C5GU%2BcOoC47I1Pf3mmyEAAAAAAAAAAAAAAAAAAAAAADAXgj%2FGOERAAAAAAAAAAAAAAAAAAAMxkOAAQCefMUdPqsdZQAAAABJRU5ErkJggg%3D%3D) 2x)
}
.footer-social-links a.footer-twitter-link {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOVJREFUeNrsllENxCAMhtkpmAQkIOEkIGXn4BxMAhbOAZmCSdg5OAkcTbqELAFaRsJLm%2Fwv29L%2Fo6XNphCCGhkPNTgEQAAEYDiAgkWUE4appJijHKRCHVE2SuPzuehBANgxUS58Yn4VvLN3AdJk%2BmJuCuagH3zTowJpUpe05VkBMNU2EwCWgsFeAVA9AM5SBqY8BYAyhh%2B86dz49hpD3VgB26sFECsT4qAekroJN2YbXj034RkWT1Y7vWN5MADgLry55ncBLI7TTth4S1OViVOwZiA8Gs%2BtbZ7kt1wABEAARgP8BRgAhZ59yUn%2BLCgAAAAASUVORK5CYII%3D);
    background-image: -webkit-image-set(url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOVJREFUeNrsllENxCAMhtkpmAQkIOEkIGXn4BxMAhbOAZmCSdg5OAkcTbqELAFaRsJLm%2Fwv29L%2Fo6XNphCCGhkPNTgEQAAEYDiAgkWUE4appJijHKRCHVE2SuPzuehBANgxUS58Yn4VvLN3AdJk%2BmJuCuagH3zTowJpUpe05VkBMNU2EwCWgsFeAVA9AM5SBqY8BYAyhh%2B86dz49hpD3VgB26sFECsT4qAekroJN2YbXj034RkWT1Y7vWN5MADgLry55ncBLI7TTth4S1OViVOwZiA8Gs%2BtbZ7kt1wABEAARgP8BRgAhZ59yUn%2BLCgAAAAASUVORK5CYII%3D) 1x, url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAhVJREFUeNrsmYFtwjAQRZOKAegE9Qb1Bk03oBvABoxAJ6AbWJ0AOkHoBIQJYAPYII2li2RFAYx9tqPmn%2FSFEgXL9%2B6csy95XdfZmO0pG7kBAAAAAAAAAAAAAAAAAAAAAAAAAAAAwAhNd4RcFMjmjTZ6WoZKut9nRSPh5QcTgJWn41NytL6hfSNJz8%2Fo%2BTP9NymAOU1QeTi%2Fv%2BN8q3PneumdyQwAlDEhFwjK0vmuFGXEWi%2BDlAC6qbtp09LChKPzWkf6XaXOgPLK5ArLl17tIeW7BDjK4OlKZEtScScDXO2r0WIIZXBmEak9RVv0VA%2BXyJdcfuSuNT3Pc%2FPy%2BEA0dcZUjQ6N3iyXStd2jd67AJz8YAAgjDo%2BzeIYG4AJw2QUOb6j5RDDfrkG4gBwoTSWEXfwlyEdhn4SHGF2XANxvAParayIGP3nviqQKgMuLPXY3rZD7AfolPzgXJs37Huo%2FYCpcTipA%2BnI7ceEkaWgd0FI%2Bxx6R6gMGP0yiB%2FMAERP04JLMgQA7qboibaoFfO4iwBjBm%2BKtg1O34xQQf0I3BWWD%2FT7nJ0fIgDp0etrtY6RyRPPsieNzY8%2BEL2YvXrPneU2i2GeGVAYzUkOKdeeQuolMOv5omOrc9vaThFIrpaYuR3WMF5pecieiFZULg%2BU5hVXJkc9Dv8Xw%2BdxAAAAAAAAAAAAAAAAAAAAAAAAAAAAABid%2FQkwAFoAOsP1A4C%2BAAAAAElFTkSuQmCC) 2x)
}
.footer-social-links a.footer-pinterest-link {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWxJREFUeNrsVottAyEMvYsyACNcN2CEjHCdoIyQEdjgRrh2gnaDdIN0A7pBsgEF6SE5lgn0Po0qHdITFwfsh21sdt775pHYNQ8eG4GNwD73R9u2NfsPmD9LC2PGL%2BEBFWADXNQZcAI8ZBZr6kfufgrDBFxg7B4uWFtnp5LAWGGYY1yKgBGUnyCPOdBhHgQPmRKBNpccSEKF2Ka4XgOekXQGxpP8Fd%2BRnCbypzjn7JQ8YNmJNOAysdeEdJLbOSGgigbIziTrz4zEuxA2N4cAP31PlCpGKKFBaG5kU7rhgf3%2BIrH9QHybzL3%2FLuiaVIiUYLQjiUgN6yV6AS%2BvPTl5R2TSHl3QVe0B6soBiq8Ih%2BT%2BN8wvd8Ix6xom9OSkDkhF58jWzrqGKlP%2FFYwfhUbFa4NauhQ75h2H6icRNWs0o5GU3D9pRrwdW6HQrN6OaZw1boQXQpN9kEzthqs%2Fyfa%2F3VBbYLZn%2BUbg3xD4EWAAA4bJ5h1bcbEAAAAASUVORK5CYII%3D);
    background-image: -webkit-image-set(url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWxJREFUeNrsVottAyEMvYsyACNcN2CEjHCdoIyQEdjgRrh2gnaDdIN0A7pBsgEF6SE5lgn0Po0qHdITFwfsh21sdt775pHYNQ8eG4GNwD73R9u2NfsPmD9LC2PGL%2BEBFWADXNQZcAI8ZBZr6kfufgrDBFxg7B4uWFtnp5LAWGGYY1yKgBGUnyCPOdBhHgQPmRKBNpccSEKF2Ka4XgOekXQGxpP8Fd%2BRnCbypzjn7JQ8YNmJNOAysdeEdJLbOSGgigbIziTrz4zEuxA2N4cAP31PlCpGKKFBaG5kU7rhgf3%2BIrH9QHybzL3%2FLuiaVIiUYLQjiUgN6yV6AS%2BvPTl5R2TSHl3QVe0B6soBiq8Ih%2BT%2BN8wvd8Ix6xom9OSkDkhF58jWzrqGKlP%2FFYwfhUbFa4NauhQ75h2H6icRNWs0o5GU3D9pRrwdW6HQrN6OaZw1boQXQpN9kEzthqs%2Fyfa%2F3VBbYLZn%2BUbg3xD4EWAAA4bJ5h1bcbEAAAAASUVORK5CYII%3D) 1x, url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAsNJREFUeNrsW%2B1twjAQTSoG8AbNBg0TkE5Q2CAjMEKYIGIC2gnSDRImgA1CJzAbUEdyJMv4O3E%2ByFm6HxHB9j3f%2BfmeIXw8HsGS21uw8AYAAAAAAAAAAAAAAAAAAAAAAAttK5cvhWHYx9gJ91x17dClsFsNBDQilhLbUMeR5L07BeJM7Js%2B%2B20NarZm0SJip2YYRzvRPvz54gkA1NFxERBoLgDExOoenW%2Btpn1PGoDUg%2BO8pVMFYAjnlSC4%2BBK6UIeABpvQvBh%2B%2FZfu8leG%2FmKa4zFliq1BP2umD2ca7CMCkEHOY2KZyUbG9JkZ7AloCimg2%2B0LC8dlkaVih1EBiDTO7yV7RUGjgn23cTQX8D7SgBCNCYBq9TPB0bd23OSQALCnKBgaAKRwoOyBIVKLPtAYAKQmYUnz2IXqsCAdahVYLr50KYe%2FFDR349KEbQ117Yh9EjtomICnw6PlXLzSoCwn2UlvddSl2UdKASvIomXwCJBRG1vXb7jPDoIS989izKvlXLwpQoniszu3Ynx6%2BGrJHCQxkcDxsXRN0GblojkAwE7yJtjEAm6TVOXveaoAVIYr%2BqNZ7Y3lOInjnAalwZobIpdQZKA5GmPBdC9TosFKkQKZhOYqi5A%2BCt6Ne139jhGgO9%2B39X%2FJVHtPw0vsYnlgcj4K%2ByqGtLW7ID1U4mei6XuUYshEDDERM%2Fc0SkqJaqQqhUcth00EEVmFGOkkbkNFaHRBxDQKasGqYwWttZog1vSbT0EVbiWrSKME75jngqHE9i7wRvt4NzggtYesNXu8HksVNhE9eG0QB93vBuI5XYzEPShEXi5Ghroa4%2FP%2FJa%2FGZJej2OL4O%2FvLUXZjzAWyVhIs4HqcPyfsDYqZl%2FuBhAyMQsMAmL6Tuuh8Y94O96EEVV07dPIF%2FjKz8AYAAAAAAAAAAAAAAAAAAAAAAAtt%2FwIMAEHC6ySGb59iAAAAAElFTkSuQmCC) 2x)
}
.footer-social-links a.footer-instagram-link {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAchJREFUWAntlc8rRUEUx59f5VdhYycrJbGQkgULGxYSaxbKSllasLSxoCzY%2BIOULGUjiSyIWPkV%2Bf05mlPTNPPe3HHrbe63vu%2BcmTnnO2fOvW9uqVSg6ECVO1ATsb%2FExMT5pH6YFCZhmKxzqCKp9hKNUZgZx2SkburmnYV2L9fab5LKrfs0P5mch7dmcRG7YPxarBQWDfcUMeMLR32CseZ5DyNVVRV5F9DBaVqsE3VZfmZXW%2BezT6itwiE4CFfgA5TYZ3hjKO%2BR5nsfAetBaKJrX8jo82T1MPcI3XgdJxewh%2BgS%2FDLi69gQ1ljQDZfxd61xcgEziHRaQuP4IYywoAV04%2Bf2L7Crbwjtzry9ZucEU2L%2FBXco3BsVOVUIuiYv5FUoKHZeWymPQLAJZe4DjkEX8u14gxIjz14wCVUnqiN%2FWeZHE7WAJuZPjaAUsQOn4RTchu9QcuQ2bIWCXAsQwQF4ArU418pHR%2B4FRcWXUAN9VsW1AxrTiLMBr6HGyMWzBZuhjVw6MGsrOn4b43Znzh5WLKDejnZ8uXjqoFxC8vzltFkxlzXBjj9koC3%2Brz2yhWP9XgL3oXxcXhMp340D2A8LFB0oOuDtwC8Yts0UM4D8%2BQAAAABJRU5ErkJggg%3D%3D);
    background-image: -webkit-image-set(url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAchJREFUWAntlc8rRUEUx59f5VdhYycrJbGQkgULGxYSaxbKSllasLSxoCzY%2BIOULGUjiSyIWPkV%2Bf05mlPTNPPe3HHrbe63vu%2BcmTnnO2fOvW9uqVSg6ECVO1ATsb%2FExMT5pH6YFCZhmKxzqCKp9hKNUZgZx2SkburmnYV2L9fab5LKrfs0P5mch7dmcRG7YPxarBQWDfcUMeMLR32CseZ5DyNVVRV5F9DBaVqsE3VZfmZXW%2BezT6itwiE4CFfgA5TYZ3hjKO%2BR5nsfAetBaKJrX8jo82T1MPcI3XgdJxewh%2BgS%2FDLi69gQ1ljQDZfxd61xcgEziHRaQuP4IYywoAV04%2Bf2L7Crbwjtzry9ZucEU2L%2FBXco3BsVOVUIuiYv5FUoKHZeWymPQLAJZe4DjkEX8u14gxIjz14wCVUnqiN%2FWeZHE7WAJuZPjaAUsQOn4RTchu9QcuQ2bIWCXAsQwQF4ArU418pHR%2B4FRcWXUAN9VsW1AxrTiLMBr6HGyMWzBZuhjVw6MGsrOn4b43Znzh5WLKDejnZ8uXjqoFxC8vzltFkxlzXBjj9koC3%2Brz2yhWP9XgL3oXxcXhMp340D2A8LFB0oOuDtwC8Yts0UM4D8%2BQAAAABJRU5ErkJggg%3D%3D) 1x, url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAA9tJREFUeAHtWdmrTWEUP6ZrHlLKEC5JIZK%2FwFD3gRclKfKo%2BCO8eMaLEqXO2y3JkBQh4sEDeSGZ7z1lfBChjNfw%2Bz1sfVZrn%2F0Ne%2B%2BzY636dfZa%2B1vD9%2FuG%2Fe19Wi0TY8AYMAaMAWPAGDAGjAFj4L9kYFQJvR6LGGXEiSnlF5xGYhxTfSYiwH7gNcAieok3yH8YmArUIuOQ5RbQy05rue%2Bjpsl1MLC3gZ3PCDlYBwG3G0zAUCgBMZvXVyTpC02U0P4afK8AP0WMVdC3ChvVMYBsqzSLN2XTrY7fYZTJp0yenMMNWQcJ8JbR3i1705BTuttj7mFqWU0nILV%2Fhf5GQCFF%2F3iDps%2BAog2t2wZZ2dDJXbdK%2FT160Z%2FTEx597wEyfxFpf4WLOQcwYYp8gfMZ4DzQARhvATAAbAHkcfYzbI8B%2BWzvh20GIIWz4oc0lqlLxkP0syiEnc2T2bgxCITElG2DZkBeId3sMqGvfghBfWfcvgQSGknAJXQodMM9EUlCEAG%2BI4Ja%2FghH3JW3UJ45hhW4dndnrseVAF9XQ2Q%2BGj8CJjhOzH3H0efiepaj87L2PaDtFEBCucm5y%2BKqcz%2F08qSIxbhTnCAHlPtBMyB0Wjq51ct5sI4Xdy4LPUTVfBeFBChqWzYBWnHu8iiqR95%2FLg3QFyu2aFPZBMhnNQvjJ7RY0Xy1HLHxg3fmokQvlQYpI6b5ajmUtH6msmfAC6Tlyc2Vja4SeC19OfpDgTG6Ni%2BbgG%2FIJjeu1bBt6FqFfnMNzGvFrRvQ3wlbklo2ASzmlFIRT4HTFHueic%2F%2Bo4A8p2ix82JUZnef8bxui0x90J8Csh1nxnTRVlMnwciXJenPP2HcMwB9k88BDBIqsjBJAONtA2Q76vyGtwnIk3W4wZOe5rtbcUomwD2yKvGjTcfhyXW%2FS0RYCp1fcp8AF4AOwI1tITAALAM04XsBl0QjRI5OO6cqPsMvArJ9qM6Nj8tCk%2BQZUMUmmBX6HRd8jB3JDBG%2Fg%2FBZD3yK8PVyqZIAFjAC7AE2Aw8AXxlGw%2B3ADoAvV40SOYXbntXxLY1%2FZXFU%2BSyXcT7AxrXOTvcBPpK8BKraBLXi%2BV2AHSQoM4E5AGfhK4D%2F89cuZRAgDyu%2BneCHFCJFql7Cam1y6nJty28AqmPJRg7eTUDWw6XmLTGj9xHR5YmsA9tdgMXUJcuRaIlIxmXG%2FaPUV2aRo3UdBsl6U3QOQpDErKFjQRnqbVxbbW30qymjntVxGjUFD2jMHpCNKV94dgJ83887qmZtq%2FrlIYkvT3z34KCYGAPGgDFgDBgDxoAxYAwYA8aAMeDFwG9jgEDZ%2FAa5NQAAAABJRU5ErkJggg%3D%3D) 2x)
}
.footer-social-links a.footer-flipboard-link {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAJBJREFUWAljYBgFoyEw0kOAEXcAcP3HLUeOzDesdjGRYxQ19Yw6gIXY4Pz%2F%2FyuK0ufPn6Pw0TlSUiroQlj5o1Ew4CFAdBpAj8Bnz56hCJmY2KHwieUMeAiMOgBr%2BQyJP9S6AL0cYGTkJjaaoepG6wLsATbgiZDocoD0OMfuY3TRAQ%2BBUQegR8kofzQERl4IAACKQBCS5zabwwAAAABJRU5ErkJggg%3D%3D);
    background-image: -webkit-image-set(url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAJBJREFUWAljYBgFoyEw0kOAEXcAcP3HLUeOzDesdjGRYxQ19Yw6gIXY4Pz%2F%2FyuK0ufPn6Pw0TlSUiroQlj5o1Ew4CFAdBpAj8Bnz56hCJmY2KHwieUMeAiMOgBr%2BQyJP9S6AL0cYGTkJjaaoepG6wLsATbgiZDocoD0OMfuY3TRAQ%2BBUQegR8kofzQERl4IAACKQBCS5zabwwAAAABJRU5ErkJggg%3D%3D) 1x, url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAQZJREFUeAHtmTsSwyAMRE0mVXID1zmC69z%2FJHCCpHWK9DA7s2YQPLeShfR2%2FRnYNi4IQAACEIAABCAAAQhAYEUCSR%2F6cer39LzjK81069naiGsBYERVevaEA3rSHnEtHDCiKj17ursXO89PtWQppRpvBff91UqR4jwCEq4Jk3HAhKJKI%2BEACdeEycs7wP4f0DJJzrmachzvatwdXN4BAHBbKlo9HBBNMXe%2FOMBNNFo9aQ%2F9P1z9XKC1H5DS82JGnAtIgHkHSLgmTMYBE4oqjYQDJFwTJtv3A67%2FzntV4BHw8oxXDQfE08zbMQ7w8oxXbXkHxJOMjiEAAQhAAAIQgAAEIAABB4Ef9UsQumf7De8AAAAASUVORK5CYII%3D) 2x)
}

.footer-right-side {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 400px;
    flex: 0 1 400px;
    border-left: 2px solid #f2f2f2;
    padding-left: 48px
}
@media only screen and (max-width: 680px) {
    .footer-right-side {
        -webkit-box-flex: 1;
        -ms-flex: 1 1;
        flex: 1 1;
        padding-left: 0;
        padding-bottom: 48px;
        border-left: none;
        border-bottom: 2px solid #f2f2f2;
        margin-bottom: 48px
    }
}
.AppPromo {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center
}
.AppPromo img {
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out
}
.AppPromo:hover img {
    opacity: .8
}
a.AppPromo {
    text-decoration: none
}
.AppPromo-headline {
    font-size: 24px;
    font-weight: 300;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #999999;
    margin: 14px 0 6px
}
@media only screen and (max-width: 320px) {
    .AppPromo-headline {
        font-size: 22px
    }
}
.AppPromo:hover .AppPromo-headline {
    text-decoration: none
}
.AppPromo-ActionText {
    font-size: 18px;
    color: #525252;
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 48px
}
@media only screen and (max-width: 540px) {
    .AppPromo-ActionText {
        margin-bottom: 0
    }
}
.AppPromo:hover .AppPromo-ActionText {
    text-decoration: none;
    background-size: 2px 2px;
    background-image: -webkit-linear-gradient(top, transparent 50%, #525252 50%);
    background-image: linear-gradient(to bottom, transparent 50%, #525252 50%);
    background-repeat: repeat-x;
    background-position: center bottom;
    text-decoration: none
}

.AppPromo-ActionText {
    font-size: 18px;
    color: #525252;
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 48px
}
@media only screen and (max-width: 540px) {
    .AppPromo-ActionText {
        margin-bottom: 0
    }
}
.AppPromo:hover .AppPromo-ActionText {
    text-decoration: none;
    background-size: 2px 2px;
    background-image: -webkit-linear-gradient(top, transparent 50%, #525252 50%);
    background-image: linear-gradient(to bottom, transparent 50%, #525252 50%);
    background-repeat: repeat-x;
    background-position: center bottom;
    text-decoration: none
}

.badge-footer, .IssueMeta-newBadge {
    margin: 30px
}
.IssueCard .badge-footer, .IssueCard .IssueMeta-newBadge {
    margin: 0 0 5px
}
.AppPromo .badge-footer, .AppPromo .IssueMeta-newBadge {
    margin-bottom: 10px
}
.badge-footer span, .IssueMeta-newBadge span {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: white;
    letter-spacing: 1px;
    padding: 3px 6px;
    background-color: #fc459e;
    text-transform: uppercase
}


.PageHeader--backgroundImage {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.PageHeader--backgroundImage .PageHeader-content {
    padding: 15px 0 13.6px
}
@media only screen and (max-width: 540px) {
    .PageHeader--backgroundImage .PageHeader-content {
        padding: 8px 0 7px
    }
}
@media only screen and (max-width: 400px) {
    .PageHeader--backgroundImage .PageHeader-content {
        padding: 5px 0 2px
    }
}

.PageHeader--grow {
    -webkit-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out
}
@media only screen and (min-height: 985px) {
    .PageHeader--grow {
        height: 40vh
    }
}

.u-invertTextColor{
    color: white;
    opacity: .8
}
@media only screen and (max-width: 540px) {
    .u-invertTextColor {
        opacity: .9
    }


.PageHeader, .PageHeader--search, .PageHeader--issue, .PageHeader--userCollection, .PageHeader--shop {
    background-color: white;
    position: relative
}}

.exerpt .feature-image-container {
    text-align: left;
    margin: 20px auto
}
.exerpt .feature-image {
    -webkit-transform: rotate(0.0001deg);
    transform: rotate(0.0001deg);
    height: 56px;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    opacity: .7
}
.exerpt .feature-image:hover {
    opacity: .5
}
.exerpt-title {
    padding-left: 0;
    padding-right: 0
}

.h32 {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 300;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}
@media only screen and (max-width: 540px) {
    .h32 {
        font-size: 28px
    }
}
.h32 a {
    color: #525252
}
.h32 a:hover {
    background-size: 2px 2px;
    background-image: -webkit-linear-gradient(top, transparent 50%, #525252 50%);
    background-image: linear-gradient(to bottom, transparent 50%, #525252 50%);
    background-repeat: repeat-x;
    background-position: center bottom;
    text-decoration: none
}

.col-container {
    margin: 0 -2%;
    letter-spacing: -4px
}
.col-container div {
    letter-spacing: normal
}

.about-title {
    margin: 52px auto 12px;
    max-width: 880px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding-left: 0;
    padding-right: 0;
    color: #525252;
    font-weight: 300;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 28px;
    line-height: 56px;
    transition: all 0.2s ease-in-out
}

.about-title-bigger {
    margin: 52px auto 42px;
    max-width: 880px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding-left: 0;
    padding-right: 0;
    color: #525252;
    font-weight: 300;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 48px;
    line-height: 56px;
    transition: all 0.2s ease-in-out
}

.exerpt .exerpt-paragraph {
    font-size: 24px
}
@media only screen and (max-width: 540px) {
    .exerpt .exerpt-paragraph {
        font-size: 20px
    }
}

.about-paragraph, .exerpt-paragraph {
    max-width: 880px;
    padding-left: 0;
    padding-right: 0;
    font-size: 28px;
    color: #999999;
    margin: 20px auto 30px;
    font-weight: 300;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}
@media only screen and (max-width: 540px) {
    .about-paragraph, .exerpt-paragraph {
        font-size: 22px
    }
}
@media only screen and (max-width: 400px) {
    .about-paragraph, .exerpt-paragraph {
        font-size: 20px
    }
}
.about-paragraph a, .exerpt-paragraph a {
    color: #999999;
    background-size: 2px 2px;
    background-image: -webkit-linear-gradient(top, transparent 50%, #999 50%);
    background-image: linear-gradient(to bottom, transparent 50%, #999 50%);
    background-repeat: repeat-x;
    background-position: center bottom;
    text-decoration: none;
    -webkit-transition-property: color, background-image;
    transition-property: color, background-image;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out
}
.about-paragraph a:hover, .exerpt-paragraph a:hover {
    color: #525252;
    background-size: 2px 2px;
    background-image: -webkit-linear-gradient(top, transparent 50%, #525252 50%);
    background-image: linear-gradient(to bottom, transparent 50%, #525252 50%);
    background-repeat: repeat-x;
    background-position: center bottom;
    text-decoration: none
}

.faq-title {
    margin: 0px auto -10px;
    padding-top: 20px;
    max-width: 880px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding-left: 0;
    padding-right: 0;
    color: #525252;
    font-weight: 300;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 28px;
    line-height: 56px;
    transition: all 0.2s ease-in-out
}

.faq-title-bigger {
    font-size: 38px;
    margin: 40px auto -10px;
}

.faq-paragraph {
    max-width: 880px;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.5em;
    color: #999999;
    margin: 20px auto 0px;
    padding-bottom: 30px;
    font-weight: 300;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}
@media only screen and (max-width: 995px) {
	.faq-title {
		padding-left: 16px;
		padding-right: 16px;
	}
    .faq-paragraph {
		padding-left: 16px;
		padding-right: 16px;
    }
}
@media only screen and (max-width: 540px) {
    .faq-paragraph {
        font-size: 22px
    }
}
@media only screen and (max-width: 400px) {
    .faq-paragraph {
        font-size: 20px
    }
}

.faq-new-line {
    margin: -50px auto 0px;
}

.exerpt .exerpt-paragraph {
    line-height: 1.5;
}

.about-paragraph-spacing {
    margin: 20px auto 30px;
    max-width: 880px;
    padding-left: 0;
    padding-right: 0
}

article.teal .about-paragraph {
    color: #39ac95;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out
}
article.teal .about-paragraph a {
    color: #39ac95;
    background-size: 2px 2px;
    background-image: -webkit-linear-gradient(top, transparent 50%, #39ac95 50%);
    background-image: linear-gradient(to bottom, transparent 50%, #39ac95 50%);
    background-repeat: repeat-x;
    background-position: center bottom;
    text-decoration: none
}
article.teal .about-paragraph a:hover {
    color: #427067;
    background-size: 2px 2px;
    background-image: -webkit-linear-gradient(top, transparent 50%, #427067 50%);
    background-image: linear-gradient(to bottom, transparent 50%, #427067 50%);
    background-repeat: repeat-x;
    background-position: center bottom;
    text-decoration: none
}

.description-page {
    text-align: center;
    background-color: #f2f2f2
}
.description-page.learn-more, .description-page.giveaway {
    text-align: left
}
.description-page article {
    padding: 60px 0 120px
}
.description-page article:last-of-type {
    padding-bottom: 160px
}
@media only screen and (max-width: 540px) {
    .description-page article {
        padding: 16px;
        padding-bottom: 70px
    }
}
.description-page article img {
    max-width: 100%
}
@media only screen and (max-width: 540px) {
    .description-page article .cards-container {
        margin-left: 2%;
        margin-right: 2%
    }
}

.inline-box {
    background-color: white;
    margin: 0 auto;
    max-width: 830px;
    padding: 47px 50px 60px;
    padding: 47px 6vw 60px;
    text-align: center
}
.inline-box h2 {
    margin-bottom: 48px;
    margin-top: 36px
}

.document {
    text-align: left;
    padding-bottom: 100px
}
.document {
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #999999;
}
.document h2 {
    font-family: europa,'Helvetica Neue', 'Helvetica', sans-serif !important;
    font-weight: 300 !important;
    font-size: 3em;
    line-height: 1.2;
    color: #525252;
    text-align: center;
}
.document .section-updated {
    font-weight: 500 !important;
    margin-top: -40px;
    margin-bottom: 60px;
    text-align: center;
}
.document .section-title {
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    color: #525252;
    margin-top: 40px;
    margin-bottom: 14px
}
.document .section-text {
    margin: 8px 0 12px;
    line-height: 1.6
}
.document li {
    margin-bottom: 8px
}

.header-flow-container {
    display: block; 
    font-size: 6em; 
    text-align: center; 
    background: white; 
    color: #595959; 
    margin: 0;
    padding: 0.5em;
}

h1.header-tagline, .header-tagline {
    /*color:#333333;*/
    color: #fc459e;
    font-size: 24px;
    -webkit-transition-property: color, font-size;
    transition-property: color, font-size;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    font-weight: 300;
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.4;
    font-weight: 500;
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0
}
@media only screen and (max-width: 540px) {
    .header-flow-container {
        font-size: 4em; 
    }
    h1.header-tagline, .header-tagline {
        font-size: 16px
    }
}

.center {
    text-align: center
}

.GlobalNav-signupButton {
    margin-top: 10px;
    text-align: center;
}
.GlobalNav-signupButton a {
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 30px;
    font-size: 15px;
    height: 30px;
    position: relative;
    padding: 5px 20px 5px;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 2px;
    background-color: #2fdab8;
    color: white !important;
    font-weight: 500;
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition-property: background-color, font-size, padding;
    transition-property: background-color, font-size, padding;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out
}
@media only screen and (max-width: 400px) {
    .GlobalNav-signupButton {
        font-size: 14px;
        padding: 0 14px 0
    }
}
.GlobalNav-signupButton:hover, .GlobalNav-signupButton:focus {
    text-decoration: none
}
.GlobalNav-signupButton a:hover {
    background-color: #39ac95 !important;
    color: white !important;
}
.SignupMessage {
    display: block;
    width: 100%;
    background-color: #3398e1;
    color: white;
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center
}
.SignupMessage.SignupMessage--sliding {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    -webkit-transform: translateY(160px);
    transform: translateY(160px);
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
    background-color: rgba(51, 152, 225, 0.95);
    height: 160px
}
@media only screen and (max-width: 540px) {
    .SignupMessage.SignupMessage--sliding {
        display: none
    }
}
.SignupMessage.SignupMessage--DetailsPage {
    padding: 64px 0 68px;
    box-sizing: border-box
}
@media only screen and (max-width: 540px) {
    .SignupMessage.SignupMessage--DetailsPage {
        padding: 36px 15px;
        font-size: 18px
    }
}
.SignupMessage .SignupMessage-Buttons {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row
}
.SignupMessage .button.Button--Dark {
    padding-right: 60px;
    padding-left: 60px;
    background-color: #3398e1;
    border-radius: 500px
}
.SignupMessage .button.Button--Dark span {
    z-index: 9;
    margin: 0;
    position: relative
}
.SignupMessage .button.Button--Dark:hover {
    background-color: none
}
.SignupMessage .button.Button--Dark:active {
    background-color: none
}
.SignupMessage .button.Button--Dark:before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    border-radius: 500px;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: .2;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}
.SignupMessage .button.Button--Dark:hover:before {
    opacity: .4
}
.SignupMessage .button.Button--Dark:active:before {
    opacity: .6
}
.SignupMessage .button.Button--Dark:focus {
    outline: 0
}
.SignupMessage .close-button-base {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    margin: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.SignupMessage a {
    color: white;
}

.SignupMessage a:hover {
    color: lightgray;

}
.SignupMessage.SignupMessage--show {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}
