.PageHeader--backgroundImage.PageHeader--grow.PageHeader--issue.js-headerShareCanvas.u-invertTextColor(style='background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_limit,w_1920/cevfgdmixgebrvx67u0g.jpg)')
  .Scrim--textOverImage
  .wrapper.PageHeader-wrapper
    .HeaderShare.js-closeHeaderShare
      .HeaderShare-centeringContainer
        .HeaderShare-shareButtons
          a.js-headerShareButton.HeaderShare-Button.facebook(target='_blank', data-share-object-type='feature', data-share-method='facebook', href='')
          a.js-headerShareButton.HeaderShare-Button.twitter(target='_blank', data-share-object-type='feature', data-share-method='twitter', href='')
          a.js-headerShareButton.HeaderShare-Button.pinterest(target='_blank', data-share-object-type='feature', data-share-method='pinterest', href='')
          a.js-headerShareButton.HeaderShare-Button.email(data-share-object-type='feature', data-share-method='email', href='')
        .HeaderShare-closeButtonContainer
          .js-closeButtonAnimateTarget(style='opacity: 0')
            .close-button-base.close-button-thin.js-closeHeaderShareButton
    div(style='height: 200px;')
    //.PageHeader-contentContainer
      .PageHeader-content
        .IssueMeta-subtitle
          | Lorem ipsum dolor sit
        h1.IssueMeta-title.js-issueTitle
          | Adipiscing elit
        .IssueMeta-description
          p
            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
        .IssueMeta-datestamp
          | November 3rd, 2016
.row.header-flow-container(style='')
  .col-xs-4
    span.ion-icon.ion-android-cart(style='color: #fc459e;')
    h1.header-tagline Beställ
  .col-xs-4
    span.ion-icon.ion-android-walk(style='color: #fc459e;')
    h1.header-tagline Hämta
  .col-xs-4
    span.ion-icon.ion-android-restaurant(style='color: #fc459e;')
    h1.header-tagline Ät
