extends ../layout

block content
  .page-header
    h3 Add product

  form.form-horizontal(role='form', enctype='multipart/form-data', method='POST')
    .form-group
      label(class='col-sm-2 control-label', for='name') Name
      .col-sm-8
        input.form-control(type='text', name='name', id='name', autofocus=true, required)
    .form-group
      label(class='col-sm-2 control-label', for='price') Price
      .col-sm-8
        input.form-control(type='number', name='price', id='price', required)
    .form-group
      label(class='col-sm-2 control-label', for='quantity') Quantity
      .col-sm-8
        input.form-control(type='number', name='quantity', id='quantity', required)
    .form-group
      label(class='col-sm-2 control-label', for='description') Description
      .col-sm-8
        textarea.form-control(name='description', id='description', rows='7', required)
    .form-group
      label(class='col-sm-2 control-label', for='date') Date
      .col-sm-8
        input.form-control(type='datetime-local', name='date', value=date, id='date', required)
    .form-group
      label(class='col-sm-2 control-label', for='myFile') File
      .col-sm-8
        input(type='file', name='myFile')
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          i.fa.fa-envelope
          | Send