extends ../layout

block content
    h2 Är du säker på att du vill ta bort #{product.name}?
    form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='hidden', name='pictureURL', value=product.pictureURL)
        button.btn.btn.btn-danger(type='submit') Ja, ta bort