each order in orders
  tr
    td #{order.email}
    td #{order.updatedAt}
    td
      if (order.email)
        span.label.label-success Successful
      else 
        span.label.label-fail Unsuccessful