each order in orders
  tr
    td #{order.email || "None"}
    td #{order.updatedAt}
    td
      if (order.email)
        span.label.label-success Successful
      else 
        span.label.label-danger Unsuccessful