each order in orders
  tr.order-row
    td #{order.email || "Finns ej"}
    td #{order.updatedAt}
    td
      if (order.email)
        span.label.label-success Lyckad
      else 
        span.label.label-danger Misslyckad
    td
      a(href='/restaurant/order/'+order._id) Visa
      .order-for-count