extends ../layout

block content
    form(type='POST')
        .input-group
            .input-group-btn.search-panel
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                    span#search_concept #{search_param} 
                    span.caret
                ul.dropdown-menu(role='menu')
                    li
                        a(id='search-dropdown-ID')
                            i.fa.fa-angle-double-right
                            |  ID
                    li
                        a(id='search-dropdown-Email')
                            i.fa.fa-angle-double-right
                            |  Email
            input#search_param(type='hidden', name='search_param', value=search_param)
            input#search_key.form-control(type='text', name='q', placeholder='Search..', value='')
            span.input-group-btn
                a.btn.btn-default.text-muted(href='/restaurant/orders', title='Clear')
                    i.fa.fa-times
                button.btn.btn-info(type='submit')   Search 

    br
    div(id='ordersframe')
      .row
        .span5
            table.table.table-striped.table-condensed
                thead
                tr
                    th Email
                    th Date
                    th Status
                    th
                tbody
                    include orders