extends ../layout

block content
  h1 #{title}
  p.lead A boilerplate for Node.js web applications.
  hr
  .row
    each product in products
        .col-sm-6
            h2 #{product.name}
            p #{product.description}
            p
              a.btn.btn-default(href='#', role='button') View details »